<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">

        <!-- Self Introduction -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Fanjiang Ye (叶繁江)
              </h1>
              <p>I am a first-year Ph.D. student working at <a href="https://luddy.indiana.edu/">School of Infomatics, Computing, and Engineering</a> at <a href="https://bloomington.iu.edu/index.html">Indiana University Bloomington</a>, advised by Dr. <a href="https://www.dingwentao.com/">Dingwen Tao</a>. I graduated from the Department of Physics at University of Science and Technology of China (USTC) <a href="https://en.ustc.edu.cn/"></a>.
              </p>
              <p style="text-align:center">
                <a href="mailto:fanjye@iu.edu">Email</a> &nbsp/&nbsp
                <a href="https://github.com/dylan1229">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=87u1ugYAAAAJ&hl">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/fanjiangye/"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/circle_bw_crop.png">
            </td>
          </tr>
        </table>
    
      <!-- Research interest -->
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research Interests</h2>
              <ul>
                <li>System acceleration for quantum simulation</li>
                <li>Large-scale machine learning</li>
                <li>Compression</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>  


      <!-- Research Publication Introduction -->
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tr>
          <td style="padding:2.5%;width:100%;vertical-align:middle">
            <h2>Publication</h2>
          </td>
        </tr>
      </table>
      
      <!-- Quantum compression -->
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
          <tr>
            <td style="padding:10px;width:30%;vertical-align:middle">
              <a href="images/MEMQSIM.png"><img src='images/MEMQSIM.png' width="100%"></a>
            </td>
            <td style="padding:20px;width:70%;vertical-align:middle">
              <strong>Breaking Memory Limits in Quantum Circuit Simulations on GPU-Powered Machines through High-Fidelity Lossy Compression</strong>
              <br>
              <a href="https://scholar.google.com/citations?user=GKlJrYYAAAAJ&hl=en">Boyuan Zhang</a>,
              <a href="https://www.pnnl.gov/people/bo-fang">Bo Fang</a>,
              <strong>Fanjiang Ye</strong>,
              <a href="https://www.kent.edu/cs/qiang-guan">Qiang Guan</a>,
              <a href="https://www.pnnl.gov/people/ang-li">Ang Li</a>,
              <a href="https://www.dingwentao.com/">Dingwen Tao</a>
              <!-- <br> -->
              <!-- Submitted to <a href="https://www.asplos-conference.org/asplos-2025-call-for-papers/">ASPLOS 2025</a>. -->
              <!-- <br> -->
              <!-- [<a href="https://fastcomposer.mit.edu/">website</a>] -->
              <!-- [<a href="https://arxiv.org/abs/2305.10431">paper</a>] -->
              <!-- [<a href="https://github.com/mit-han-lab/fastcomposer">code</a>] -->
              <!-- [<a href="https://fastcomposer.hanlab.ai/">demo</a>] -->
              <p></p>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- FastCLIP -->
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
          <tr>
            <td style="padding:10px;width:30%;vertical-align:middle">
              <a href="images/Fastclip.png"><img src='images/Fastclip.png' width="100%"></a>
            </td>
            <td style="padding:20px;width:70%;vertical-align:middle">
              <strong>FastCLIP: A Suite of Optimization Techniques to Accelerate CLIP Training with Limited Resources</strong>
              <br>
              <a href="https://xywei00.github.io/">Xiyuan Wei</a>,
              <strong>Fanjiang Ye</strong>,
              <a href="https://www.linkedin.com/in/ori-yonay-50b84b181/">Ori Yonay</a>,
              Xingyu Chen
              <a href="https://www.dingwentao.com/">Dingwen Tao</a>
              <a href="https://scholar.google.com/citations?user=BCxFU0EAAAAJ&hl=en">Tianbao Yang</a>
              <!-- <br> -->
              <!-- Submitted to <a href="https://www.asplos-conference.org/asplos-2025-call-for-papers/">ASPLOS 2025</a>. -->
              <!-- <br> -->
              <!-- [<a href="https://fastcomposer.mit.edu/">website</a>] -->
              <!-- [<a href="https://arxiv.org/abs/2305.10431">paper</a>] -->
              <!-- [<a href="https://github.com/mit-han-lab/fastcomposer">code</a>] -->
              <!-- [<a href="https://fastcomposer.hanlab.ai/">demo</a>] -->
              <p></p>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- DLRM Compression -->
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
          <tr>
            <td style="padding:10px;width:30%;vertical-align:middle">
              <a href="images/DLRM.pdf"><img src='images/DLRM.pdf' width="100%"></a>
            </td>
            <td style="padding:20px;width:70%;vertical-align:middle">
              <strong>Accelerating Communication in Deep Learning Recommendation Model Training with Dual-Level Adaptive Lossy Compression</strong>
              <br>
              Hao Feng,
              Boyuan Zhang,
              <strong>Fanjiang Ye</strong>,
              Min Si,
              Ching-Hsiang Chu,
              Jiannan Tian,
              Chunxing Yin,
              Zhaoxia (Summer) Deng,
              Yuchen Hao,
              Pavan Balaji,
              Tong Geng,
              Dingwen Tao
              <!-- <br> -->
              <!-- Submitted to <a href="https://www.asplos-conference.org/asplos-2025-call-for-papers/">ASPLOS 2025</a>. -->
              <!-- <br> -->
              <!-- [<a href="https://fastcomposer.mit.edu/">website</a>] -->
              <!-- [<a href="https://arxiv.org/abs/2305.10431">paper</a>] -->
              <!-- [<a href="https://github.com/mit-han-lab/fastcomposer">code</a>] -->
              <!-- [<a href="https://fastcomposer.hanlab.ai/">demo</a>] -->
              <p></p>
            </td>
          </tr>
        </tbody>
      </table>

      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
          <tr>
            <td style="padding:10px;width:30%;vertical-align:middle">
              <a href="images/MEMQSIM.png"><img src='images/MEMQSIM.png' width="100%"></a>
            </td>
            <td style="padding:20px;width:70%;vertical-align:middle">
              <strong>Breaking Memory Limits in Quantum Circuit Simulations on GPU-Powered Machines through High-Fidelity Lossy Compression</strong>
              <br>
              <a href="https://scholar.google.com/citations?user=GKlJrYYAAAAJ&hl=en">Boyuan Zhang</a>,
              <a href="https://www.pnnl.gov/people/bo-fang">Bo Fang</a>,
              <strong>Fanjiang Ye</strong>,
              <a href="https://www.kent.edu/cs/qiang-guan">Qiang Guan</a>,
              <a href="https://www.pnnl.gov/people/ang-li">Ang Li</a>,
              <a href="https://www.dingwentao.com/">Dingwen Tao</a>
              <br>
              Submitted to <a href="https://www.asplos-conference.org/asplos-2025-call-for-papers/">ASPLOS 2025</a>.
              <br>
              <!-- [<a href="https://fastcomposer.mit.edu/">website</a>] -->
              <!-- [<a href="https://arxiv.org/abs/2305.10431">paper</a>] -->
              <!-- [<a href="https://github.com/mit-han-lab/fastcomposer">code</a>] -->
              <!-- [<a href="https://fastcomposer.hanlab.ai/">demo</a>] -->
              <p></p>
            </td>
          </tr>
        </tbody>
      </table>


      <!-- Education -->
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tr>
          <td style="padding:2.5%;width:100%;vertical-align:middle">
            <h2>Education</h2>
          </td>
        </tr>
      </table>
      <table width="100%" align="center" border="0" cellpadding="10">
        <tbody>
          <tr>
            <td style="padding-left:20px;padding-right:20px;width:20%;vertical-align:middle"><img
                src="images/Indiana University2.jpg" , width="100%"></td>
            <td width="80%" valign="center">
              <b>Indiana University Bloomington</b>
              <br> 2023.08 - Present <br>
              <br> <b>Ph.D student in Computer Engineering</b>
              <br> Advisor: Dr. <a href="https://dingwentao.com/">Dingwen Tao</a>
            </td>
          </tr>
          <tr>
            <td style="padding-left:20px;padding-right:20px;width:20%;vertical-align:middle"><img
                src="images/USTC.png" , width="100%"></td>
            <td width="80%" valign="center">
              <b>University of Science and Technology of China</b>
              <br> 2019.08 - 2023.07 <br>
              <br> <b>B.Eng. in Physics</b>
              <br> Advisor: Dr. <a href="https://scholar.google.com/citations?user=Cg3XywgAAAAJ&hl=zh-CN">Changling Zou</a>
            </td>
          </tr>
          <tr>
            <td style="padding-left:20px;padding-right:20px;width:20%;vertical-align:middle"><img
                src="images/HKUST.jpg" , width="100%"></td>
            <td width="100%" valign="center">
              <b>Hong Kong University of Science and Technology</b>
              <br> 2023.06 - 2023.10
              <br>
              <br> <b>Visiting Research Student</b>
              <br> Advisor: Dr. <a href="https://physics.ust.hk/eng/people_detail.php?pplcat=1&id=610">Berthold Jaeck</a>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Awards -->
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Awards</h2>
              <ul>
                <li>Outstanding Student Scholarship of USTC (Top 25%),  2020-2022</li>
                <li>Scholarship of Freshman (Top 20%),  2019</li>
                <li>USTC Fellowship,  2022</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Interest --> 
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Miscellaneous</h2>
              <ul>
                <li>I love to play basketball and led the department <a href="images/basketball_team.jpg">basketball</a> team in varsity games.</li>
                <li><a href="images/photograph.jpg">Photograph</a> is also my favourite.</li>
                <li>Sometimes I really enjoy <a href="images/ski.jpg">going skiing</a>.</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- The clustermap -->
      <!-- <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
            <tr>
                <td style="padding:0px">
                    <br>
                    <p style="text-align:right;font-size:small;">
                        Template adapted from <a href="https://jonbarron.info/">Jon Barron</a>.
                        <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=i4PMvFJeqB4IGxO49jgkGcSEZQ72GfdGICGT8qMlm40&cl=ffffff&w=a" width="200" height="100"></script>
                    </p>
                </td>
            </tr>
        </tbody>
    </table> -->
    <style>
      #clustrmaps {
          width: 400px;
          height: 300px;
      }
    </style>
  
    <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
            <tr>
                <td style="padding:0px">
                    <br>
                    <p style="text-align:right;font-size:small;">
                        Template adapted from <a href="https://jonbarron.info/">Jon Barron</a>.
                        <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=i4PMvFJeqB4IGxO49jgkGcSEZQ72GfdGICGT8qMlm40&cl=ffffff&w=a"></script>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    

    </td>
  </tr>


</table>
</body>

</html>