<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">

        <!-- Self Introduction -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Fanjiang Ye (叶繁江)
              </h1>
              <p>I am a second-year Ph.D. student working at <a href="https://bloomington.iu.edu/index.html">Indiana University Bloomington</a>, advised by Dr. <a href="https://www.dingwentao.com/">Dingwen Tao</a> and Dr. <a href="https://homes.luddy.indiana.edu/fgsong/">Fengguang Song</a>. 
              Currently I'm working closely with Dr. <a href="https://www.wang-yuke.com/">Yuke Wang</a>.
              I graduated from the Department of Physics at University of Science and Technology of China (<a href="https://en.ustc.edu.cn/">USTC</a>).
              </p>
              <p style="text-align:center">
                <a href="mailto:fanjye@iu.edu">Email</a> &nbsp/&nbsp
                <a href="/pdfs/CV_03-19-2025.pdf">CV</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=87u1ugYAAAAJ&hl">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/fanjiangye/"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <a href="images/self2.png"><img style="width:100%;max-width:100%" alt="profile photo" src="images/self2.png"></a>
            </td>
          </tr>
        </table>
    
      <!-- Research interest -->
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research Interests</h2>
              <ul>
                <!-- <li>Efficient systems on deep learning</li>
                <li>System optimization for </li>
                <li>Data Compression</li> -->
              <p> My research interests mainly focus on efficient system on deep learning, especially like video generation and video understanding. 
              </p> 
              </ul>
            </td>
          </tr>
        </tbody>
      </table>  


      <!-- Research Publication Introduction -->
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tr>
          <td style="padding:2.5%;width:100%;vertical-align:middle">
            <h2>Publication</h2>
          </td>
        </tr>
      </table>

      <!-- Quantum compression --> 
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
          <tr>
            <td style="padding:10px;width:30%;vertical-align:middle">
              <a href="images/BMQSIM.png"><img src='images/BMQSIM.png' width="100%"></a>
            </td>
            <td style="padding:20px;width:70%;vertical-align:middle">
              <strong>Overcoming Memory Constraints in Quantum Simulation with a High-Fidelity Compression Framework</strong>
              <br>
              Boyuan Zhang,
              Bo Fang,
              <strong>Fanjiang Ye</strong>,
              Yida Gu,
              Tallent Nathan,
              Guangming Tan,
              Dingwen Tao
              <br>
              ICS'25
              <br>
              [<a href="https://arxiv.org/pdf/2410.14088">Paper</a>]
              <!-- [Preprint]. Under Review. -->
              <br>
              <p></p>
            </td>
          </tr>
        </tbody>
      </table>
      
      <!-- PPoPP'25 --> 
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
          <tr>
            <td style="padding:10px;width:30%;vertical-align:middle">
              <a href="images/ppopp_25.png"><img src="images/ppopp_25.png" width="100%"></a>
            </td>
            <td style="padding:20px;width:70%;vertical-align:middle">
              <strong>High-performance Visual Semantics Compression for AI-Driven Science</strong>
              <br>
              Boyuan Zhang,
              Luanzheng Guo,
              Jiannan Tian,
              Jinyang Liu,
              Daoce Wang,
              <strong>Fanjiang Ye</strong>,
              Chengming Zhang,
              Jan Strube,
              Nathan R. Tallent,
              Guangming Tan,
              Dingwen Tao
              <br>
              PPoPP'25 Poster
              <br>
              [<a href="https://dl.acm.org/doi/abs/10.1145/3710848.3710851">Paper</a>]
              <p></p>
            </td>
          </tr>
        </tbody>
      </table>
      
      <!-- DLRM Compression -->
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
          <tr>
            <td style="padding:10px;width:30%;vertical-align:middle">
              <a href="images/DLRM.png"><img src='images/DLRM.png' width="100%"></a>
            </td>
            <td style="padding:20px;width:70%;vertical-align:middle">
              <strong>Accelerating Communication in Deep Learning Recommendation Model Training with Dual-Level Adaptive Lossy Compression</strong>
              <br>
              Hao Feng,
              Boyuan Zhang,
              <strong>Fanjiang Ye</strong>,
              Min Si,
              Ching-Hsiang Chu,
              Jiannan Tian,
              Chunxing Yin,
              Zhaoxia (Summer) Deng,
              Yuchen Hao,
              Pavan Balaji,
              Tong Geng,
              Dingwen Tao
              <br>
              SC'24
              <br>
              [<a href="https://arxiv.org/abs/2407.04272">Paper</a>]. 
              <p></p>
            </td>
          </tr>
        </tbody>
      </table>
      
      <!-- FastCLIP -->
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
          <tr>
            <td style="padding:10px;width:30%;vertical-align:middle">
              <a href="images/Fastclip.png"><img src='images/Fastclip.png' width="100%"></a>
            </td>
            <td style="padding:20px;width:70%;vertical-align:middle">
              <strong>FastCLIP: A Suite of Optimization Techniques to Accelerate CLIP Training with Limited Resources</strong>
              <br>
              Xiyuan Wei,
              <strong>Fanjiang Ye</strong>,
              Ori Yonay,
              Xingyu Chen,
              Dingwen Tao,
              Tianbao Yang
              <br> 
              [<a href="https://arxiv.org/pdf/2407.01445">Preprint</a>]
              <br>
              [<a href="https://github.com/Optimization-AI/fast_clip">Code</a>]
              <br> 
              <p></p>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Education -->
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tr>
          <td style="padding:2.5%;width:100%;vertical-align:middle">
            <h2>Education</h2>
          </td>
        </tr>
      </table>
      <table width="100%" align="center" border="0" cellpadding="10">
        <tbody>
          <tr>
            <td style="padding-left:20px;padding-right:20px;width:20%;vertical-align:middle"><img
                src="images/Indiana University2.jpg" , width="100%"></td>
            <td width="80%" valign="center">
              <b>Indiana University Bloomington</b>
              <br> 2023.08 - Present <br>
              <br> <b>Ph.D student in Computer Engineering</b>
              <br> Advisor: Dr. <a href="https://dingwentao.com/">Dingwen Tao</a> and Dr. <a href="https://scholar.google.com/citations?user=BoVnm1wAAAAJ&hl=zh-CN">Fengguang Song</a>.
            </td>
          </tr>
          <tr>
            <td style="padding-left:20px;padding-right:20px;width:20%;vertical-align:middle"><img
                src="images/USTC.png" , width="100%"></td>
            <td width="80%" valign="center">
              <b>University of Science and Technology of China</b>
              <br> 2019.08 - 2023.07 <br>
              <br> <b>B.S. in Physics</b>
              <br> Advisor: Dr. <a href="https://scholar.google.com/citations?user=Cg3XywgAAAAJ&hl=zh-CN">Changling Zou</a>
            </td>
          </tr>
          <tr>
            <td style="padding-left:20px;padding-right:20px;width:20%;vertical-align:middle"><img
                src="images/HKUST.jpg" , width="100%"></td>
            <td width="100%" valign="center">
              <b>Hong Kong University of Science and Technology</b>
              <br> 2022.06 - 2022.10
              <br>
              <br> <b>Visiting Research Student</b>
              <br> Advisor: Dr. <a href="https://physics.ust.hk/eng/people_detail.php?pplcat=1&id=610">Berthold Jaeck</a>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Awards -->
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Awards</h2>
              <ul>
                <li>USTC Fellowship,  2022</li>
                <li>Outstanding Student Scholarship of USTC (Top 25%),  2020-2022</li>
                <li>Scholarship of Freshman (Top 20%),  2019</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Services
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Services</h2>
              <ul>
                <li><a href="https://qcccadmin.github.io/qccc/">QCCC'24 </a> Workshop Program Speaker</li>
                <li><a href="https://qce.quantum.ieee.org/2024/">QCE'24 </a> Sub-Reviewer</li>
                <li><a href="https://iwcodesign.github.io/2024/">IWCD'24 </a> Web Chair</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table> -->
      
      <!-- Others --> 
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Miscellaneous</h2>
              <ul>
                <li>I love to play basketball and led the department <a href="images/basketball_team.jpg">basketball</a> team in varsity games.</li>
                <li><a href="images/photograph.jpg">Photograph</a> is also my favourite.</li>
                <li>Sometimes I really enjoy <a href="images/ski.jpg">going skiing</a>.</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

    <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=i4PMvFJeqB4IGxO49jgkGcSEZQ72GfdGICGT8qMlm40&cl=ffffff&w=a" style="width: 200px; height: 100px;"></script>

    <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
            <tr>
                <td style="padding:0px">
                    <br>
                    <p style="text-align:right;font-size:small;">
                        Template adapted from <a href="https://jonbarron.info/">Jon Barron</a>. Last Modified: {{ site.time | date: "%Y-%m-%d" }}
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    

    </td>
  </tr>


</table>
</body>

</html>