<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">

        <!-- Self Introduction -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Fanjiang Ye | 叶繁江
              </h1>
              <p>I am a Ph.D. student major in Computer Science at <a href="https://www.rice.edu/">Rice University</a> advised by Dr. <a href="https://www.wang-yuke.com/">Yuke Wang</a>. Before that, I got my M.S. degree in Computer Science at <a href="https://bloomington.iu.edu/index.html">Indiana University Bloomington</a>, advised by Dr. <a href="https://www.dingwentao.com/">Dingwen Tao</a>. 
              I obtained my B.S. degree from the Department of Physics at University of Science and Technology of China (<a href="https://en.ustc.edu.cn/">USTC</a>).
              </p>
              <p>
                <em style="color: rgb(19, 52, 184);">I am always open to research collaboration & internship opportunities. Please feel free to drop me an email if you are interested in working together.</em>
              </p>
              <p style="text-align:center">
                <a href="mailto:fy27@rice.edu">Email</a> &nbsp/&nbsp
                <a href="/pdfs/CV_FanjiangYe_intern-2-18.pdf">CV</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=87u1ugYAAAAJ&hl">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/fanjiangye/"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <a href="images/Fanjiang.png"><img style="width:100%;max-width:100%" alt="profile photo" src="images/Fanjiang.png"></a>
            </td>
          </tr>
        </table>
    
      <!-- Research interest -->
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research Interests</h2>
              <ul>
              <p> Fanjiang's research interests lie in system-level optimization of ML and GPU-based distributed computing, with a focus on Generative AI, LLM/Diffusion Model serving, efficient LLM inference, and communication compression and overlapping. His long-term goal is to enable fast, scalable, and resource-aware AI systems. 
              </p> 
              </ul>
            </td>
          </tr>
        </tbody>
      </table>  


      <!-- Research Publication Introduction -->
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tr>
          <td style="padding:2.5%;width:100%;vertical-align:middle">
            <h2>Publication</h2>
          </td>
        </tr>
      </table>
      
      <!-- UltraGen -->
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
          <tr>
            <td style="padding:10px;width:30%;vertical-align:middle">
              <a href="images/UltraGen.png"><img src='images/UltraGen.png' width="100%"></a>
            </td>
            <td style="padding:20px;width:70%;vertical-align:middle">
              <strong>SUPERGEN: An Efficient Ultra-high-resolution Video Generation System with Sketching and Tiling</strong>
              <br>
              <strong><u>Fanjiang Ye</u></strong>,
              Zepeng Zhao,
              Yi Mu,
              Jucheng Shen,
              Renjie Li,
              Kaijian Wang,
              Desen Sun,
              Saurabh Agarwal,
              Myungjin Lee,
              Triston Cao,
              Aditya Akella,
              Arvind Krishnamurthy,
              T. S. Eugene Ng,
              Zhengzhong Tu,
              Yuke Wang
              <br>
              <strong>arXiv</strong>
              <br> 
              [<a href="https://arxiv.org/pdf/2508.17756">Preprint</a>]
              <br> 
              <p></p>
            </td>
          </tr>
        </tbody>
      </table>
      
      <!-- NeurIPS'25 -->  
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
          <tr>
            <td style="padding:10px;width:30%;vertical-align:middle">
              <a href="images/DUO-new.png"><img src='images/DUO-new.png' width="100%"></a>
            </td>
            <td style="padding:20px;width:70%;vertical-align:middle">
              <strong>DUO: No Compromise to Accuracy Degradation</strong>
              <br>
              Jinda Jia,
              Cong Xie,
              <strong><u>Fanjiang Ye</u></strong>,
              Hao Feng,
              Hanlin Lu,
              Daoce Wang,
              Haibin Lin,
              Zhi Zhang,
              Xin Liu
              <br>
              <strong>NeurIPS'25</strong>
              <br>
              [<a href="https://openreview.net/pdf?id=vvEVQrm9M8">Paper</a>]
              <br>
              <p></p>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- ICML'25 -->  
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
          <tr>
            <td style="padding:10px;width:30%;vertical-align:middle">
              <a href="images/LEAR_figure.png"><img src='images/LEAR_figure.png' width="100%"></a>
            </td>
            <td style="padding:20px;width:70%;vertical-align:middle">
              <strong>Model Steering: Learning with a Reference Model Improves Generalization Bounds and Scaling Laws</strong>
              <br>
              Xiyuan Wei,
              Ming Lin,
              <strong><u>Fanjiang Ye</u></strong>,
              Fengguang Song,
              Liangliang Cao,
              My T. Thai,
              Tianbao Yang
              <br>
              <strong>ICML'25</strong> <span style="color:rgb(19, 52, 184);">Spotlight</span>
              <br>
              [<a href="https://arxiv.org/pdf/2505.06699">Paper</a>]
              <br>
              <p></p>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Quantum compression: ICS'25 -->  
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
          <tr>
            <td style="padding:10px;width:30%;vertical-align:middle">
              <a href="images/BMQSIM.png"><img src='images/BMQSIM.png' width="100%"></a>
            </td>
            <td style="padding:20px;width:70%;vertical-align:middle">
              <strong>BMQSim: Overcoming Memory Constraints in Quantum Circuit Simulation with a High-Fidelity Compression Framework</strong>
              <br>
              Boyuan Zhang,
              Bo Fang,
              <strong><u>Fanjiang Ye</u></strong>,
              Luanzheng Guo,
              Fengguang Song,
              Tallent Nathan,
              Dingwen Tao
              <br>
              <strong>ICS'25</strong> <span style="color:rgb(19, 52, 184);">Best Paper Runner-up</span>
              <br>
              [<a href="https://hpcrl.github.io/ICS2025-webpage/program/Proceedings_ICS25/ics25-8.pdf">Paper</a>]
              <br>
              <p></p>
            </td>
          </tr>
        </tbody>
      </table>
      
      <!-- PPoPP'25 --> 
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
          <tr>
            <td style="padding:10px;width:30%;vertical-align:middle">
              <a href="images/ppopp_25.png"><img src="images/ppopp_25.png" width="100%"></a>
            </td>
            <td style="padding:20px;width:70%;vertical-align:middle">
              <strong>High-performance Visual Semantics Compression for AI-Driven Science</strong>
              <br>
              Boyuan Zhang,
              Luanzheng Guo,
              Jiannan Tian,
              Jinyang Liu,
              Daoce Wang,
              <strong><u>Fanjiang Ye</u></strong>,
              Chengming Zhang,
              Jan Strube,
              Nathan R. Tallent,
              Dingwen Tao
              <br>
              <strong>PPoPP'25</strong> Poster
              <br>
              [<a href="https://dl.acm.org/doi/abs/10.1145/3710848.3710851">Paper</a>]
              <p></p>
            </td>
          </tr>
        </tbody>
      </table>
      
      <!-- DLRM Compression -->
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
          <tr>
            <td style="padding:10px;width:30%;vertical-align:middle">
              <a href="images/DLRM.png"><img src='images/DLRM.png' width="100%"></a>
            </td>
            <td style="padding:20px;width:70%;vertical-align:middle">
              <strong>Accelerating Communication in Deep Learning Recommendation Model Training with Dual-Level Adaptive Lossy Compression</strong>
              <br>
              Hao Feng,
              Boyuan Zhang,
              <strong><u>Fanjiang Ye</u></strong>,
              Min Si,
              Ching-Hsiang Chu,
              Jiannan Tian,
              Chunxing Yin,
              Zhaoxia (Summer) Deng,
              Yuchen Hao,
              Pavan Balaji,
              Tong Geng,
              Dingwen Tao
              <br>
              <strong>SC'24</strong>
              <br>
              [<a href="https://dl.acm.org/doi/10.1109/SC41406.2024.00095">Paper</a>]
              <p></p>
            </td>
          </tr>
        </tbody>
      </table>
      
       <!-- TIDE -->
       <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
          <tr>
            <td style="padding:10px;width:30%;vertical-align:middle">
              <a href="images/TIDE.png"><img src='images/TIDE.png' width="100%"></a>
            </td>
            <td style="padding:20px;width:70%;vertical-align:middle">
              <strong>TIDE: Text-Informed Dynamic Extrapolation with Step-Aware Temperature Control for Diffusion Transformers</strong>
              <br>
              Yihua Liu,
              <strong><u>Fanjiang Ye</u></strong>,
              Bowen Lin,
              Rongyu Fang,
              Chengming Zhang
              <br>
              <strong>In submission</strong>
              <br> 
              [<a href="">Preprint</a>]
              <br> 
              <p></p>
            </td>
          </tr>
        </tbody>
      </table>

        <!-- IREM -->
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
          <tr>
            <td style="padding:10px;width:30%;vertical-align:middle">
              <a href="images/IREM.png"><img src='images/IREM.png' width="100%"></a>
            </td>
            <td style="padding:20px;width:70%;vertical-align:middle">
              <strong>Teach to Fish, Not to Feed Internalizing Retrieval for External Memory in Large Language Models</strong>
              <br>
              Xinheng Ding,
              Tianyi Zhang,
              Hao Li,
              <strong><u>Fanjiang Ye</u></strong>,
              Wenya Xie,
              Qingquan Song,
              Yuke Wang,
              Zirui Liu
              <br>
              <strong>In submission</strong>
              <br> 
              [<a href="">Preprint</a>]
              <br> 
              <p></p>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- SDiT -->
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
          <tr>
            <td style="padding:10px;width:30%;vertical-align:middle">
              <a href="images/sdit.png"><img src='images/sdit.png' width="100%"></a>
            </td>
            <td style="padding:20px;width:70%;vertical-align:middle">
              <strong>SDiT: Semantic Region-Adaptive for Diffusion Transformers</strong>
              <br>
              Bowen Lin,
              <strong><u>Fanjiang Ye</u></strong>,
              Yihua Liu,
              Zhenghui Guo,
              Boyuan Zhang,
              Weijian Zheng,
              Yufan Xu,
              Tiancheng Xing,
              Yuke Wang,
              Chengming Zhang
              <br>
              <strong>In submission</strong>
              <br> 
              [<a href="https://arxiv.org/pdf/2601.12283">Preprint</a>]
              <br> 
              <p></p>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Watermark -->
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
          <tr>
            <td style="padding:10px;width:30%;vertical-align:middle">
              <a href="images/watermark.png"><img src='images/watermark.png' width="100%"></a>
            </td>
            <td style="padding:20px;width:70%;vertical-align:middle">
              <strong>An Efficient and Adaptive Watermark Detection System with Tile-based Error Correction</strong>
              <br>
              Xinrui Zhong,
              Xinze Feng,
              Jingwei Zuo,
              <strong><u>Fanjiang Ye</u></strong>,
              Yi Mu,
              Junfeng Guo,
              Heng Huang,
              Myungjin Lee,
              Yuke Wang
              <br>
              <strong>arXiv</strong>
              <br> 
              [<a href="https://arxiv.org/pdf/2509.02447">Preprint</a>]
              <br> 
              <p></p>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- FastCLIP -->
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
          <tr>
            <td style="padding:10px;width:30%;vertical-align:middle">
              <a href="images/Fastclip.png"><img src='images/Fastclip.png' width="100%"></a>
            </td>
            <td style="padding:20px;width:70%;vertical-align:middle">
              <strong>FastCLIP: A Suite of Optimization Techniques to Accelerate CLIP Training with Limited Resources</strong>
              <br>
              Xiyuan Wei,
              <strong><u>Fanjiang Ye</u></strong>,
              Ori Yonay,
              Xingyu Chen,
              Dingwen Tao,
              Tianbao Yang
              <br>
              <strong>arXiv</strong>
              <br> 
              [<a href="https://arxiv.org/pdf/2407.01445">Preprint</a>]
              <!-- <br>
              [<a href="https://github.com/Optimization-AI/fast_clip">Code</a>] -->
              <br> 
              <p></p>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Education -->
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tr>
          <td style="padding:2.5%;width:100%;vertical-align:middle">
            <h2>Education</h2>
          </td>
        </tr>
      </table>
      <table width="100%" align="center" border="0" cellpadding="10">
        <tbody>

          <tr>
            <td style="padding-left:20px;padding-right:20px;width:20%;vertical-align:middle"><img
                src="images/Rice_Logo.png" , width="100%"></td>
            <td width="80%" valign="center">
              <b>Rice University</b>
              <br> 2025.08 - Present <br>
              <br> <b>Ph.D student in Computer Science</b>
              <br> Advisor: Dr. <a href="https://www.wang-yuke.com/">Yuke Wang</a>
            </td>
          </tr>

          <tr>
            <td style="padding-left:20px;padding-right:20px;width:20%;vertical-align:middle"><img
                src="images/Indiana University2.jpg" , width="100%"></td>
            <td width="80%" valign="center">
              <b>Indiana University Bloomington</b>
              <br> 2023.08 - 2025.05 <br>
              <br> <b>M.S. in Computer Science</b>
              <br> Advisor: Dr. <a href="https://dingwentao.com/">Dingwen Tao</a>.
            </td>
          </tr>

          <tr>
            <td style="padding-left:20px;padding-right:20px;width:20%;vertical-align:middle"><img
                src="images/USTC.png" , width="100%"></td>
            <td width="80%" valign="center">
              <b>University of Science and Technology of China</b>
              <br> 2019.08 - 2023.07 <br>
              <br> <b>B.S. in Physics</b>
              <br> Advisor: Dr. <a href="https://scholar.google.com/citations?user=Cg3XywgAAAAJ&hl=zh-CN">Changling Zou</a>
            </td>
          </tr>
          <tr>
            <td style="padding-left:20px;padding-right:20px;width:20%;vertical-align:middle"><img
                src="images/HKUST.jpg" , width="100%"></td>
            <td width="100%" valign="center">
              <b>Hong Kong University of Science and Technology</b>
              <br> 2022.06 - 2022.10
              <br>
              <br> <b>Visiting Research Student</b>
              <br> Advisor: Dr. <a href="https://physics.ust.hk/eng/people_detail.php?pplcat=1&id=610">Berthold Jaeck</a>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Work Experience -->
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tr>
          <td style="padding:2.5%;width:100%;vertical-align:middle">
            <h2>Experience</h2>
          </td>
        </tr>
      </table>
      <table width="100%" align="center" border="0" cellpadding="10">
        <tbody>

          <tr>
            <td style="padding-left:20px;padding-right:20px;width:20%;vertical-align:middle"><img
                src="images/amazon-logo.png" , width="100%"></td>
            <td width="80%" valign="center">
              <b>Amazon Web Services</b>
              <br> 2026.05 - 2026.08 <br>
              <br> Applied Scientist Intern, Annapurna Lab
              <br> Santa Clara, CA
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Awards -->
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Awards</h2>
              <ul>
                <li>USTC Fellowship,  2022</li>
                <li>Outstanding Student Scholarship of USTC,  2020-2022</li>
                <li>Scholarship of Freshman,  2019</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Services -->
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Professional Services</h2>
              <ul>
                <li>EuroSys'2026 Fall Artifact Evaluation Committee</li>
                <li>ECCV'2026 Conference Reviewer</li>
                <li>ASPLOS'26 Summer Artifact Evaluation Committee</li>
                <li>CVPR'26 Program Committee Reviewer</li>
                <li>PPoPP'26 Artifact Evaluation Committee</li>
                <li>ASPLOS'26 Spring Artifact Evaluation Committee</li>
                <li>SOSP'25 Artifact Evaluation Committee</li>
                <li>QCE'24 Sub-Reviewer</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table> 
      
      <!-- Teaching -->
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Teaching</h2>
              <ul>
                <li>ENGR-E 516: Cloud Computing, Spring 2025, Indiana University</li>
                <li>COMP 422/534: Parallel Computing, Spring 2026, Rice University</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table> 

      <!-- Others --> 
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Miscellaneous</h2>
              <ul>
                <li>I love to play basketball and led the department <a href="images/basketball_team.jpg">basketball</a> team in varsity games.</li>
                <li><a href="images/photograph.jpg">Photograph</a> is also my favourite.</li>
                <li>Sometimes I really enjoy <a href="images/ski.jpg">going skiing</a>.</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

    <!-- <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=i4PMvFJeqB4IGxO49jgkGcSEZQ72GfdGICGT8qMlm40&cl=ffffff&w=a" style="width: 200px; height: 100px;"></script> -->

    <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
            <tr>
                <td style="padding:0px">
                    <br>
                    <p style="text-align:right;font-size:small;">
                        Template adapted from <a href="https://jonbarron.info/">Jon Barron</a>. Last Modified: {{ site.time | date: "%Y-%m-%d" }}
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    

    </td>
  </tr>


</table>
</body>

</html>